@{

    Layout = null;
}
@using GrassPlantInfo.Contract.DTO.Admin;
@using GrassPlantInfo.Contract.Enum;
@model SoilSubGroupDto
@{
    var t = (EnumOperation)ViewBag.Type;
    bool isDetail = (t == EnumOperation.DETAIL) ? true : false;
   
}

@Html.Hidden("Type", (int)t)
@Html.HiddenFor(x=>x.SoilOrderID)
@Html.HiddenFor(x => x.SoilGroupID)
@Html.HiddenFor(x=>x.SoilSubGroupID)
<table width="100%" align="center" id="tb_content">
    <tr>
        <td style="width:100px" align="right">所属土纲：</td>
        <td style="width:200px">
            @{
                if (!isDetail)
                {
                    <select id="OPSoilOrderList" class="easyui-combobox" style="width:130px"> </select>
                }
                else
                {
                    @Html.Label(Model.SoilOrderName)
                }
            }

        </td>
    </tr>
        <tr>
        <td style="width:100px" align="right">所属土类：</td>
        <td style="width:200px">
            @{
                if (!isDetail)
                {
                    <select id="OPSoilGroupList" class="easyui-combobox" style="width:130px"> </select>
                }
                else
                {
                    @Html.Label(Model.SoilOrderName)
                }
            }
        </td>
    </tr>
    <tr>
        <td style="width:100px" align="right">土亚类名称：</td>
        <td style="width:200px">
            @{
                if (!isDetail)
                {
                    @Html.TextBoxFor(x => x.SoilSubGroupName, new { @class = "easyui-validatebox textbox", @required = "true", @missingMessage = "土亚类名称", @style = "width:90%;height:32px", @maxlenth = 30, @data_require = "true" })
                }
                else
                {
                    @Html.Label(Model.SoilSubGroupName)
                }
            }

        </td>
    </tr>
    <tr>
        <td style="width:100px" align="right">土亚类代码：</td>
        <td style="width:200px">
            @{
                if (!isDetail)
                {
                    @Html.TextBoxFor(x => x.SoilSubGroupCode, new { @class = "easyui-validatebox textbox", @required = "true", @missingMessage = "土亚类代码", @style = "width:90%;height:32px", @maxlenth = 30, @data_require = "true" })
                }
                else
                {
          
                    @Html.Label(string.IsNullOrEmpty(Model.SoilSubGroupCode) ? "" : Model.SoilSubGroupCode)
                }
            }

        </td>
    </tr>
     <tr>
        <td style="width:100px" align="right">土壤代码：</td>
        <td style="width:200px">
            @{
                if (!isDetail)
                {
                    @Html.TextBoxFor(x => x.SoilCode, new { @class = "easyui-validatebox textbox", @required = "true", @missingMessage = "土壤代码", @style = "width:90%;height:32px", @maxlenth = 30, @data_require = "true" })
                }
                else
                {
          
                    @Html.Label(string.IsNullOrEmpty(Model.SoilCode) ? "" : Model.SoilCode)
                }
            }

        </td>
    </tr>
    @{

        if (!isDetail)
        {
            <tr>
                <td style="width:100px" colspan="2" align="center"><a href="javascript:plantOp.submit()" class="easyui-linkbutton" iconcls="icon-save" plain="true">保存</a></td>

            </tr>
        }
    }
</table>
<script>
    var plantOp = {
        pageType: $("#Type").val(),
        getparam: function (t) {           
            var data = {
                SoilOrderID: $("#OPSoilOrderList").combobox('getValue'),
                SoilGroupID: $("#OPSoilGroupList").combobox('getValue'),
                SoilSubGroupCode: $("#SoilSubGroupCode").val() == "" ? 0 : $("#SoilSubGroupCode").val(),
                SoilSubGroupName: $.trim($("#SoilSubGroupName").val()),
                SoilCode: $.trim($("#SoilCode").val()),
                SoilSubGroupID: $.trim($("#SoilSubGroupID").val()) == "" ? 0 : $.trim($("#SoilSubGroupID").val())
            }
            return data;
        },
        initFamilySelect: function () {
            $.ajax({
                type: "post",
                url: "/soil/GetFamilyList",
                success: function (result) {
                    var data = []
                    $.each(result, function (i, o) {
                        var item = {
                            id: o.id, text: o.text, value: o.id
                        }
                        data.push(item);
                    });
                    $("#OPSoilOrderList").combobox("loadData", data);
                    if ($("#Type").val() == 2) {
                        var SoilOrderID = $.trim($("#SoilOrderID").val());                       
                        $("#OPSoilOrderList").combobox('setValue', SoilOrderID);
                        //this.initGeneraSelect();
                    }
                    else {
                        $("#OPSoilOrderList").combobox('setValue', 0);
                        var data = []
                        var item = {
                            id: 0, text: "请选择", value: 0
                        }
                        data.push(item);
                        $("#OPGeneraList").combobox("loadData", data);
                        $("#OPGeneraList").combobox('setValue', 0);

                    }

                }
            });
        },
        initGeneraSelect: function () {
            if ($("#OPSoilOrderList").combobox('getValue') != 0) {
                $.ajax({
                    type: "post",
                    url: "/Soil/GetGeneraListByFamilyId",
                    data: { SoilOrderID: $("#OPSoilOrderList").combobox('getValue') },
                    success: function (result) {
                        var data = []
                        $.each(result, function (i, o) {
                            var item = {
                                id: o.id, text: o.text, value: o.id
                            }
                            data.push(item);
                        })
                        $("#OPSoilGroupList").combobox("loadData", data);
                        $("#OPSoilGroupList").combobox('setValue', $("#SoilGroupID").val());
                    }
                });
            }
            else {
                var data = []
                var item = {
                    id: 0, text: "请选择", value: 0
                }
                data.push(item);
                $("#OPSoilGroupList").combobox("loadData", data);
                $("#OPSoilGroupList").combobox('setValue', 0);
            }

        },
     
        check: function () {
            var bo = true;
            //验证下拉框
            var familyID = $("#OPSoilOrderList").combobox('getValue');
            var generaID = $("#OPSoilGroupList").combobox('getValue');
           
            if (familyID == "0" || familyID == "") {
                $.messager.alert('提示', "请选择所属土纲！");
                bo = false;
                return false;
            }
            if (generaID == "0" || generaID == "") {
                $.messager.alert('提示', "请选择土类！");
                bo = false;
                return false;
            }
            //验证文本框
            var inputlist = $("#tb_content input[type='text']");
            $.each(inputlist, function (i, o) {
                if ($.trim($(o).val()).length == 0) {
                    var text = $(o).parent().prev("td").text().replace(":", "").replace("：", "").replace("*", "")
                    $.messager.alert('提示', text + "不能为空");
                    bo = false;
                    return false;
                }

            });

            if (bo) {
                $.ajax({
                    async: false,
                    type: "post",
                    url: "/Vegetation/ValidatePlantName",
                    data: { PlantName: plantName, PalntID: $("#PalntID").val(), eo: this.pageType },
                    success: function (result) {
                        if (result.Code == -1) {
                            $.messager.alert('提示', result.Msg);
                            bo = false;
                            return false;
                        }
                    }
                });
            }
            return bo;
        },
        submit: function (t) {
            if (this.check()) {
                $.ajax({
                    async: false,
                    type: "post",
                    url: "/soil/PlantOp",
                    data: {
                        jsondata: JSON.stringify(plantOp.getparam()), eo: this.pageType
                    },
                    success: function (result) {
                        if (result.Code == -1) {
                            $.messager.alert('提示', result.Msg);
                            return false;
                        }
                        else {
                            location.reload();
                        }
                    }
                });
            }
        }
    }
    $(document).ready(function () {
        if (plantOp.pageType != 4) {
            $("#OPSoilOrderList").combobox({
                onChange: function (n, o) {
                    $("#OPSoilGroupList").combobox('clear');
                    plantOp.initGeneraSelect();
                }
            });
            plantOp.initFamilySelect();
        }

    });

    function format(message) {
        if (!message) return null;
        var ss = message.split(/\{\d+?\}/);
        for (var i = 0; i < ss.length; i++) {
            if (!arguments[i + 1]) break;
            ss[i] += arguments[i + 1];
        }
        return ss.join("");
    }

</script>